.view-header {
  position: relative;
  width: 100%;
  order: 1;
}
header {
  @media #{$__1024} {
    background-color: #f1f8fe;
  }
    .header-content {
      display: flex;
      align-items: center;
      height: 88px;
      justify-content: flex-end;
      @media #{$__1024} {
        height: auto;
        margin-top: 10px;
      }
      @media #{$__480} {
        flex-direction: column;
      }
      &--logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-right: 90px;
        @media #{$__1024} {
          margin-right: 30px;
          min-width: 192px;
        }
        @media #{$__480} {
          min-width: auto;
          margin-right: 0;
          margin-bottom: 20px;
        }
        img {
          max-width: 81px;
          max-height: 56px;
          width: 100%;
          height: auto;
        }
        span {
          font: 22px/1 $rb;
          color: #383334;
          padding-left: 17px;
        }
      }

      &--list {
        display: flex;
        align-items: center;
        @media #{$__1024} {
          flex-wrap: wrap;
        }
        @media #{$__480} {
          flex-direction: column;
        }
        &_el {
          display: flex;
          align-items: center;
          margin-right: 35px;

        @media #{$__1024} {
          min-width:200px;
          margin-bottom: 10px;
          margin-right: 15px;
        }
          @media #{$__480} {
            min-width: auto;
            margin-right: 0;
          }
          &:last-child{
            margin-right: 0;
          }
          img {

          }

          p {
            padding: 0 0 0 12px;
            font:italic 16px/1.125 $rr;
            color: #666666;
          }
        }
      }
    }

  }